In [1]:
user= input("enter here: ")
current_time_user=input("enter time")
def greet_with_time(name, current_time):
    print("Hi,"+name+"! we hope that you are doing well ,we wish you a very good luck for your exam," +current_time)
greet_with_time(user, current_time_user)

enter here:  mehar
enter time monday

Hi,mehar! we hope that you are doing well ,we wish you a very good luck for your exam,monday

In [15]:
marks1=int(input("enter marks here: "))
marks2=int(input("enter marks here: "))
marks3=int(input("enter marks here: "))
def calculate_average(marks1 ,marks2, marks3):
    average= (marks1 + marks2 +marks3 / 3)
    return average
average=calculate_average(marks1 , marks2, marks3)

print(average)

enter marks here:  98
enter marks here:  99
enter marks here:  90

227.0

In [21]:
price=int(input("enter here: "))
discount=int(input("enter discount percent here : "))
def calculate_discount(price, discount):
    total=price * discount/100
    return total
total = calculate_discount(price, discount)
print(total)

enter here:  1000
enter discount percent here :  10

100.0

In [23]:
def print_info (name, age, city):
    print(name+ "you are,"+str (age)+"years old, you live in,"+city)
print_info(name="mehar javed", age=18, city="lahore")

mehar javedyou are,18years old, you live in,lahore

In [27]:
arguments=(1, 7, 5, 11)
def find_max(arguments):
    maximum= max(arguments)
    return maximum
find_max(arguments)

11

In [29]:
total=1
number = 5
def factorial(number,total):
    while number>=1:
        total*=number
        number=number-1
    return total
factorial(number,total)

120

In [25]:
number=lambda a : a**2
square = number(6)
print(square)

36