In [1]:
# Frequency of words
myself = "i am Mehar, i am on the road to become a programmer and a data analyst"

words = myself.split()
wordcount = {}

for word in words:    
    if word in wordcount:
        wordcount[word] += 1  
    else:
        wordcount[word] = 1 
print(wordcount)

{'i': 2, 'am': 2, 'Mehar,': 1, 'on': 1, 'the': 1, 'road': 1, 'to': 1, 'become': 1, 'a': 2, 'programmer': 1, 'and': 1, 'data': 1, 'analyst': 1}

In [13]:
person={
    "name":"Mehar Javed",
    "age":18,
    "hobby":"cooking",
    "city":"Lahore"
}

In [3]:
inventary ={
    "apple" : 100,
    "banana":100,
    "orange": 50,
    "dates": 70
}
del inventary['apple']
inventary['cherry']=90
inventary['apple']=55
print(inventary)

{'banana': 100, 'orange': 50, 'dates': 70, 'cherry': 90, 'apple': 55}

In [5]:
customer_order={
    "product a" : 100,
    "product b": 70,
    "product c": 110,
    "product d": 19
}
most_ordered=max(customer_order.keys())
print("the most ordered product is",most_ordered)

the most ordered product is product d

In [7]:
grade={
    "Mehar": 91,
    "Muzna": 90,
    "Reeda": 91
}
total_students=len(grade)
print ("the average of students is:",sum(grade.values())/total_students )

the average of students is: 90.66666666666667

In [9]:
stock={
    "soap"   :       { "quantity":20,  "price":50},
   "shampoo" :       {"quantity":23,    "price":900},
    "washing powder": {"quantity":79,    "price":800},
    "tooth paste":    {"quantity":10,    "price":80}
}
stock['facewash']={"quantity":45,"price":550}
stock["soap"]["quantity"]=19
print(stock)

{'soap': {'quantity': 19, 'price': 50}, 'shampoo': {'quantity': 23, 'price': 900}, 'washing powder': {'quantity': 79, 'price': 800}, 'tooth paste': {'quantity': 10, 'price': 80}, 'facewash': {'quantity': 45, 'price': 550}}

In [11]:
total_quantity =0
for key,values in stock.items():
    if 'quantity' in values:
        total_quantity+=values["quantity"]
print(total_quantity)

176

In [45]:
std_data={
    "Mehar":{"maths":100, "islamiat":90},
    "Muzna":{"maths":90, "islamiat":95},
    "Reeda":{"maths":95, "islamiat":92}
}
total_std=len(std_data)
total_maths=0
total_isl=0
for key,values in std_data.items():
    if "maths" in values:
        total_maths+=values["maths"]
        if "islamiat" in values:
            total_isl+=values["islamiat"]
print(total_maths)
print(total_isl)
total_marks =total_maths + total_isl
average = total_marks/ total_std
print("the average is:", average)

maths
maths
maths
285
277
the average is: 187.33333333333334

In [47]:
# find greatest and lowest grade in maths

maths_scores = [values["maths"] for values in std_data.values()]

highest_marks = max(maths_scores)
lowest_marks = min(maths_scores)

print(f"Highest Marks in Maths: {highest_marks}")
print(f"Lowest Marks in Maths: {lowest_marks}")

Highest Marks in Maths: 100
Lowest Marks in Maths: 90

In [49]:
# find greatest and lowest grade in islamiat

isl_scores = [values["islamiat"] for values in std_data.values()]

highest_marks = max(isl_scores)
lowest_marks = min(isl_scores)

print(f"Highest Marks in islamiat: {highest_marks}")
print(f"Lowest Marks in islamiat: {lowest_marks}")

Highest Marks in islamiat: 95
Lowest Marks in islamiat: 90